@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
	background-image: url(../images/team.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    font-family: 'Bebas Neue Regular';
	height: 100vh;
	color: #fff;
}


#main-cont {
	height: 100vh;
	text-shadow: 0 1px 4px black;
}

#footer {
    background-color: #222;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.red {
    color: red;
}

@media only screen and (max-width: 414px) {
	#main-cont {
		position: absolute;
		top: 20%;
	}

	h1 {
		font-size: 70px;
	}

	h2 {
		font-size: 30px;
	}
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
	#main-cont {
		position: absolute;
		top: 20%;
	}

	h1 {
		font-size: 100px;
	}

	h2 {
		font-size: 60px;
	}
}

@media only screen and (min-width: 769px) {
	#main-cont {
		position: absolute;
		top: 20%;
	}
	h1 {
		font-size: 130px;
	}

	h2 {
		font-size: 90px;
	}
}

