@font-face {
    font-family: "Bebas Neue Regular";
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Chaos And Pain";
    src: url('../fonts/ChaosandPain.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}
 
body {
    height: 100vh;
    /*background: #222;*/
    background-image: url(../images/img-3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    line-height: 1.6;
    font-family: 'Bebas Neue Regular';
    padding: 1em;
}
 
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
 
ul {
    list-style: none;
    padding: 0;
}
 
.maint {
    text-align: center;
	color: white;
}
.section {
    box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.7);
}
 
.section > * {
    padding: 1em;
}

.red {
    color: red;
}
 
.brandname {
    background: #222;
}

.brandname h3 {
    font-family: "Chaos And Pain";
    letter-spacing: 1px;
}
 
.brandname h3, .brandname ul {
    text-align: center;
    margin: 0 0 1rem 0;
}
 
.contact {
    background: #f9feff;
    color: #222;
}
 
.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
 
.contact form label {
    display: block;
}
 
.contact form p {
    margin: 0;
}
 
.contact form .full {
    grid-column: 1 / 3;
}
 
.contact form button, .contact form input, .contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #222;
}
 
.contact form button {
    background: #222;
    border: 0;
    color: #ececec;
    text-transform: uppercase;
}
 
.contact form button:hover, .contact form button:focus {
    background: #444;
    color: #fff;
    outline: 0;
    transition: background-color 0.5s ease-out;
}

form input {
    font-family: monospace;
}

.full textarea {
    font-family: monospace;
}

iframe {
    width: 100%;
    height: 100%;
}

#gmap {
    height: 65%;
}
 
/* LARGE SCREENS */
@media(min-width:700px) {
    .section {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
 
    .section > * {
        padding: 2em;
    }
 
    .compnay-info h3, .brandname ul, .maint {
        text-align: left;
    }
}