@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Chaos And Pain";
  src: url("../fonts/ChaosandPain.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  color: #fff;
}

section {
  height: 100vh;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.object {
  animation: MoveUpDown 1s ease-in-out infinite;
  position: fixed;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

.red {
  color: white;
}

.jumbotron hr {
  background-color: #fff;
}

.container-fluid hr {
  background-color: #fff;
}

.jumbotron h1 {
  font-family: "Chaos And Pain";
  line-height: 0.85;
  transform: rotateX(30deg);
}

#landing-section {
  height: 100vh;
  /*background-color: #666;*/
  background-image: url(../images/img-19.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
}

#nav-section {
  height: 100vh;
  width: 100vw;
  font-family: "Bebas Neue Regular";
  text-shadow: 0 2px 5px black;
}

#nav-section h1 {
  background-color: rgba(0, 0, 0, 0.2);
}

#about {
  cursor: pointer;
  height: 25vh;
  width: 100vw;
  padding: 0;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 0;
  text-decoration: none;
  color: #fff;
  /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#about:hover {
  /* -webkit-filter: grayscale(0);
    filter: grayscale(0); */
  color: red;
  box-shadow: inset 0 0 50px 5px black;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

#portfolio {
  cursor: pointer;
  height: 25vh;
  width: 100vw;
  padding: 0;
  background-image: url(../images/portfolio.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 0;
  color: #fff;
  /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#portfolio:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  color: red;
  box-shadow: inset 0 0 50px 5px black;
}

#services {
  cursor: pointer;
  height: 25vh;
  width: 100vw;
  padding: 0;
  background-image: url(../images/services.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 0;
  color: #fff;
  /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#services:hover {
  /* -webkit-filter: grayscale(0);
    filter: grayscale(0); */
  color: red;
  box-shadow: inset 0 0 50px 5px black;
}

#contact {
  cursor: pointer;
  height: 25vh;
  width: 100vw;
  padding: 0;
  background-image: url(../images/contact.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 0;
  color: #fff;
  /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#contact:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  color: red;
  box-shadow: inset 0 0 50px 5px black;
}

#name-1 {
  /*color: #F5CB5C;*/
  text-shadow: 0px 4px 6px black;
  animation-duration: 1s;
}

#name-2 {
  /*color: #F5CB5C;*/
  font-family: "Bebas Neue Regular";
  text-shadow: 0px 4px 6px black;
  animation-delay: 0.1s;
  animation-duration: 1s;
}

#name-3 {
  /*color: #F5CB5C;*/
  text-shadow: 0px 4px 6px black;
  animation-delay: 0.3s;
  animation-duration: 1s;
}

#name-4 {
  text-shadow: 0px 4px 6px black;
  text-align: center;
}

#catch-phrase {
  text-shadow: 0 2px 8px black;
  font-family: "Bebas Neue Regular", sans-serif;
  color: white;
  /*color: linear-gradient(to right, #9C823B, #F5CB5C, #9C823B);*/
  animation-delay: 1s;
  animation-duration: 1s;
}

#footer {
  height: 8%;
  font-size: 12px;
  background-color: #222;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 414px) {
  #about,
  #portfolio,
  #services,
  #contact {
    padding-top: 15%;
  }

  #landing-section {
    /*padding-top: 70%;*/
  }

  #mobile-hamburger a {
    font-size: 30px;
  }

  #content1,
  #content2,
  #content4 {
    width: 100%;
  }

  #name-1,
  #name-2,
  #name-3 {
    display: none;
  }

  #name-4 {
    position: relative;
    top: 50%;
    font-size: 30px;
  }

  #catch-phrase {
    position: relative;
    top: 45%;
    font-size: 20px;
    letter-spacing: 1px;
  }

  #instructions {
    font-size: 15px;
    position: relative;
    top: 60%;
  }

  .object {
    font-size: 20px;
    left: 50%;
  }
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  #about,
  #portfolio,
  #services,
  #contact {
    padding-top: 14%;
  }

  #name-1,
  #name-2,
  #name-3 {
    display: none;
  }

  #name-4 {
    position: relative;
    top: 50%;
    font-size: 60px;
    letter-spacing: 3px;
  }

  #catch-phrase {
    position: relative;
    top: 45%;
    font-size: 30px;
    text-align: center;
  }

  .object {
    font-size: 40px;
    left: 50%;
  }
}

@media only screen and (min-width: 769px) {
  #about,
  #portfolio,
  #services,
  #contact {
    padding-top: 7%;
  }

  #mobile-hamburger,
  #mobile-hamburger2 {
    display: none;
  }

  #name-1 {
    position: relative;
    top: 50%;
    left: 10%;
    font-size: 120px;
  }

  #name-2 {
    position: relative;
    top: 48%;
    left: 14%;
    font-size: 80px;
    /*line-height: 1.05;*/
  }

  #name-3 {
    font-size: 200px;
  }

  #name-4 {
    display: none;
  }

  #catch-phrase {
    position: relative;
    top: 50%;
    /*padding-top: 5%;*/
    font-size: 30px;
    letter-spacing: 2.5px;
  }

  #instructions {
    bottom: 5%;
    left: 25%;
  }

  .object {
    font-size: 40px;
    left: 50%;
  }
}
