@font-face {
  font-family: "Bebas Neue Regular";
  src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #737373;
  color: #333333;
  font-family: 'Bebas Neue Regular';
}

.modal {
  height: 70%;
}
.masonry-wrapper {
  padding: 1.5em;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  max-height: 100vh;
}

.masonry {
  columns: 2;
  column-gap: 10px;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  max-width: 400px;
  transition: 0.3s ease-in-out;
}

.masonry-item img {
  position: relative;
  height: 100%;
  width: 100%;
}

.masonry-item:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}

.float {
  z-index: 2;
	color: #fff;
}

.float:hover {
	color: #fff;
}

.my-float{
	margin-top:22px;
}

.masonry-item, .masonry-content {
  border-radius: 4px;
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .4));
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .4));
}
.masonry-footer {
  font-size: .75em;
  opacity: .25;
  text-align: center;
  padding-top: 3em; 
  padding-bottom: 3em;
  margin-bottom: -1.5em;
  transition: opacity 1s ease-in-out;
}
.masonry-footer a {
  color: currentColor;
}
.masonry-footer:hover, .masonry-footer:active, .masonry-footer:focus {
  opacity: .75;
}

@media only screen and (max-width: 414px) {
	.float {
		position: fixed;
		font-size: 40px;
		top: 45%;
		left: 2%;
		opacity: 0.4;
	}
	.float:hover {
		opacity: 1;
	}
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
	.float {
		font-size: 80px;
  }
  .masonry {
    columns: 2;
  }
}

@media only screen and (min-width: 769px) {
	.float {
		position: fixed;
		font-size: 40px;
		top: 45%;
		left: 2%;
		opacity: 0.4;
	}

	.float:hover {
		opacity: 1;
  }
  
  .masonry {
    columns: 3;
  }
}